@using Services
@page "/Page02"

<style>
	img {
		border:1px solid grey;
		width: 50px;
		height: 50px;
	}
</style>

<h3>
	Blazor
</h3>

<p>
	Using the injected service, the claim value retrieved via Blazor is '@ClaimValue'
</p>

<h3>
	Controller
</h3>

<p>
	The image controller also accesses the service via injection.  A smiley face image should be returned from the controller if the controller is able to read the claim value:
</p>

<p>
	<img src="api/Values/Test" alt="This should be a happy face" />
</p>


@code {

	public string ClaimValue { get; set; }

	[Inject]
	IMyService myService { get; set; }

	protected async override Task OnInitializedAsync()
	{
		ClaimValue = await myService.GetNameClaimValue();
		StateHasChanged();
	}

}
